@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');



body{
    margin: 0;
    padding: 0;
    font-family: "Monserrat", "sans-serif";
    color: blue;
}
.header{
    height: 10em;
    display: flex;
    justify-content: center; align-items: center;
}
.header h1{
    font-size: 3em;
}
.container{
    width: 100vw;
    height: calc(100vh - 10em);
    display: flex;
    justify-content: center; align-items: center;
}
input{
    margin: 1.5em; padding: auto;
    color: blue;
    border-color: blue;
}
h2{
    text-align: center;
}
button{
    margin: 1.5em; padding: auto;
    color:blue; border-color: blue;
    background-color: antiquewhite;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}